<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <table class="table w-full">
    <thead>
      <tr>
        <th>日付</th>
        <th>開始時刻</th>
        <th>終了時刻</th>
        <th>目的</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.start_at.strftime('%Y/%m/%d') %></td>
        <td><%= reservation.start_at.strftime('%H:%M') %></td>
        <td><%= reservation.end_at.strftime('%H:%M') %></td>
        <td><%= reservation.purpose %></td>
        <td><%= button_to '取消', reservation_path(reservation), { method: :delete, form: { data: { turbo_confirm: 'Are you sure?' } }, class: 'btn btn-error' } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
